@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Sacramento&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
    h1 {
        @apply font-lora text-3xl text-a
    }
    h2 {
        @apply font-lora text-2xl text-a 
    }
    h3 {
        @apply font-sacramento text-3xl text-b
    }
    h4 {
        @apply font-sacramento text-2xl text-b
    }
    p {
        @apply font-lora text-sm text-b
    }

@layer components {
    /* backgrounds */
    .surface-ground {
        @apply bg-orange-50
    }
    .surface-content-a {
        @apply bg-white
    }
    .surface-content-b {
        @apply bg-gray-300
    }
    .surface-primary {
        @apply !bg-green-100
    }
    .surface-secondary {
        @apply !bg-emerald-950
    }
    .surface-success {
        @apply bg-green-200
    }
    .surface-warning {
        @apply bg-yellow-200
    }
    .surface-danger {
        @apply bg-red-200
    }
    /* texts  */
    .text-a {
        @apply text-zinc-700
    }
    .text-b {
        @apply text-zinc-900
    }
    .text-c {
        @apply text-neutral-600
    }
    /* borders  */
    .border-primary {
        @apply border-gray-300
    }
    .border-secondary {
        @apply border-neutral-600
    }
    /* fonts  */
    .font-lora {
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 500;
    }
    .font-sacramento {
        font-family: "Sacramento", cursive;
        font-weight: 400;
        font-style: normal;
    }

}
